# Django Settings
SECRET_KEY=generate-a-random-secret-key-here
DATABASE_URL=neon database url
DJANGO_DEBUG=True

# Optional - AI Features
OPENAI_API_KEY=

# Optional - Payment Integration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Optional - Email Service (AWS SES)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
